@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=LXGW+WenKai+Mono+TC:wght@300;400;700&family=Qwitcher+Grypen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');


/*  Content
-----------------------------------
    [1] Genral styles
    [2] Header
    []
    [] Footer
-----------------------------------
*/


/* [1] Genral styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'LXGW WenKai Mono TC', monospace;
    background-color: #f1e1c7;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1152px;
    margin: 0 auto;
    padding: 0 15px;
}


/* [2] Header */
header {
    position: sticky;
    z-index: 1000;
    background-color: #11191f;
    padding: 10px 0;
    text-align: center;
    font-size: 1.5em;
    top: -10px;
    box-shadow: 0 -6px 10px 15px rgb(0, 0, 0, 0.9);
}

.logo {
    font-size: 2em;
    font-weight: 800;
    color: #f1e1c7;
    font-family: 'Qwitcher Grypen', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.navbar_list li {
    display: inline-block;
    margin: 0 10px;
    cursor : pointer;
    position: relative;
    padding: 10px;
}

.navbar_list li a {
    color: #f1e1c7;
}

.navbar_list li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #f1e1c7;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
}

.navbar_list li:hover::after {
    width: 100%;
}

/* [] Main page */
/* [3] Welcome bunner */

.welcome {
    background-image: url('../img/BOOKS.jpg');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 72.8px);
    color: #f1e1c7;
}

.welcome-backshadow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding: 150px 0;
    text-align: center;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-family: 'Great Vibes', cursive;
    text-shadow: #11191f 2px 2px 2px;
}

.welcome-text p {
    margin-top: 20px;
    font-size: 0.7em;
    font-family: 'LXGW WenKai Mono TC', monospace;
}

.welcome-text a {
    margin-top: 70px;
    color: #f1e1c7;
    font-size: 0.6em;
    font-family: 'LXGW WenKai Mono TC', monospace;
    padding: 10px 20px;
    background-color: #a78d62;
    border-bottom: 7px solid #604e31;
    border-radius: 15px;
    cursor: pointer;
}

.welcome-text a:hover {
    border-bottom: 5px solid #604e31;
    margin-top: 72px;
}

.welcome-text a:focus {
    background-color: #8c7249;
    border-bottom: 1px solid #604e31;
    margin-top: 76px;
}

.welcome-btn {
    width: 200px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f1e1c7;
    color: #11191f;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
}

.arrows-body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.arrow {
    position: relative;
    width: 60px;
    height: 60px;
    border-top: 7px solid #f1e1c7;
    border-left: 7px solid #f1e1c7;
    border-radius: 5px;
    transform: rotate(-135deg);
    animation: arrow-movement 2s infinite;
}

.arrow:nth-child(1) {
    bottom: -25px;
    animation-delay: -0.4s;
}

.arrow:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow:nth-child(3) {
    bottom: 25px;
}

/* Animation */
@keyframes arrow-movement {
    0%
    { 
        opacity: 0;
        transform: rotate(-135deg) translate(-10px, -10px);
    }
    0%
    {
        opacity: 1;
    }
    100%
    { 
        opacity: 0;
        transform: rotate(-135deg) translate(-65px, -65px);
    }
}

/* [] Content */

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    text-align: center;
}

.card {
    width: 45%;
    padding: 20px;
    background-color: #f1e1c7;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgb(0, 0, 0, 0.1);
}

.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 2em;
    font-family: 'Great Vibes', cursive;
    margin-top: 10px;
}

.card-text {
    font-size: 1.2em;
    margin: 15px 0;
    font-family: 'LXGW WenKai Mono TC', monospace;
}

.card-btn {
    margin: 0 auto;
    color: #f1e1c7;
    font-size: 1.2em;
    font-family: 'LXGW WenKai Mono TC', monospace;
    padding: 10px 20px;
    background-color: #a78d62;
    border-bottom: 7px solid #604e31;
    border-radius: 15px;
    cursor: pointer;
    text-shadow: #11191f 1px 1px 1px;
}

.card-btn:hover {
    border-bottom: 5px solid #604e31;
    margin-top: 2px;
}

.card-btn:focus {
    background-color: #8c7249;
    border-bottom: 1px solid #604e31;
    margin-top: 6px;
}

/* [] History books page */
/* [] History title */
.history_title {
    font-size: 5em;
    font-family: 'Great Vibes', cursive;

    margin: 50px 0 20px 0;
    text-align: center;
}


/* [] History cards */
.history_card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    min-height: 607px;
    padding: 20px;
    background-color: #f1e1c7;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgb(0, 0, 0, 0.1);
}

.history_card-img {
    height: 70%;
    width: 180px;
    object-fit: fill;
}

.card-author {
    font-family: 'Great Vibes', cursive;
    font-size: 1.5em;
    font-weight: 550;
}

.history_card-text {
    font-size: 1em;
}



/* [] About page */
/* [4] About bunner */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about_title {
    font-size: 5em;
    font-family: 'Great Vibes', cursive;

    margin: 50px 0 20px 0;
    text-align: center;
}

hr {
    width: 100%;
    border: none;
    border-top: 4px double #11191f;
    color: #11191f;
    overflow: visible;
    text-align: center;
    height: 5px;
  }

.about_start {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.about_start img {
    width: 30%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgb(0, 0, 0, 0.7);
}

.about_start-box {
    width: 60%;
    font-size: 1.5em;
    font-family: 'LXGW WenKai Mono TC', monospace;
    text-align: center;
}

.about_start-box h2 {
    font-family: 'Comforter Brush', cursive;
    font-size: 3em;
    font-weight: 400;
}

.about_start-lead {
    font-size: 1em;
}

.about_start-text {
    margin-top: 60px;
}

/* [] About text */
.about_text-title {
    font-size: 2.5em;
}

.about_text-article {
    margin: 20px 0;
    font-size: 1.3em;
}

/* [] Footer */
footer {
    background-color: #11191f;
    padding: 10px 0;
    text-align: center;
    font-size: 1.5em;
    margin-top: auto;
}

.footer_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_rights-text {
    color: #f1e1c7;
    font-size: 0.8em;
    font-family: 'LXGW WenKai Mono TC', monospace;
}

.footer_social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.footer_social-list li {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
    padding: 10px;
}

.footer_social-item img {
    width: 30px;
    height: 30px;
}